.rangeSlider input {
    width: 100%;
    appearance: none;
}

.rangeSlider input::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    appearance: none;
    background-color: #10D8C4;
    border-radius: 20px;
    background-image: url(icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.rangeSlider input::-webkit-slider-runnable-track {
    background-color: #A4F3EB;
    height: 8px;
    border-radius: 5px;
    appearance: none;
}