@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

.root {}

.hero {
    font-family: Manrope;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    text-align: center;
}