@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

.root {}

.sub-text {
    color: #848EAD;
    font-family: Manrope;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    margin-tpo: 12px;
    margin-bottom: 90px;
}